

/* Sergio */
/* Diseños animacioón */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


label{
 display:flex;
  flex-direction:column;
  width:56px;
  cursor:pointer;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
}

label span{
  background: rgb(0, 0, 0);
  border-radius:10px;
  height:7px;
  margin: 7px 0; 
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


label span:nth-of-type(1){
  width:55%;
  
}

label span:nth-of-type(2){
  width:109%;
}


label span:nth-of-type(3){
  width:60%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px);
  background-color: rgb(141, 92, 92);
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg);
  background-color: rgb(141, 92, 92);
  
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){

    width: 49%;
    transform: translate(28px,-15px) rotatez(45deg);
    background-color: rgb(141, 92, 92);
}
/* 
Maquetación del boton en su primera fase */

a{
  text-decoration: none;
}

ul{
  font-size: 1rem;
  color: rgb(68, 44, 15);
  padding: 0;
}

 li{
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
  margin: 10px 0 10px;   
  font-family: 1.2rem;
  width: 100%;
  text-align: center;
  align-self: center;
}


#menu{
  position: absolute;    
  top: 80px;    
  left: 10px;    
  z-index: 50;
  background-color: rgb(190, 183, 183);
  min-width: 50px;
  max-width: 320px;
  padding: 10px;
}

#menu:hover{
  background-color: rgb(210, 213, 218);
  transition: 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 1px 1px rgba(8, 56, 128);
}

.menuOff     
{    
    display: none;    
}    
    
.menuOn    
{     
    width: 180px;
    height: 60px;
    justify-content: space-evenly;
    display: flex;   
    border-radius: 20px; 
}

.a_link-menu{ 
  color: rgb(98, 109, 109);
}




/* Eduardo */

header{
  width: 100%;
  height: auto;
  min-width: 320px;
  max-width: 100%;
  background: hsl(300, 10%, 27%);
  display: flex;
}

.nav-container{
  display: flex;
  width: 100%;
}

.logo_icon1{
  width: 50%;
  background-color: red;
}

.section1-nav{
  display: flex;
  align-items: center;
  width: 50%; background-color: rgb(207, 203, 211);
}

.section2-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: rgb(207, 203, 211);
}

.flag{
  display: inline-block;
  background-image: url('../iconos/bandera.svg');
  width: 45px;
  height: 51px;
  background-position: center;
  background-size: cover;
  padding: 26px;
  border-left: 2px solid black;
}

.logo-main{
  display: inline-block;
  background-image: url('../Imagenes/logotipo.svg');
  width: 71px;
  height: 53px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}

nav{
  transform: translateY(-25%);
  width: 100%;
  height: 40px;
  background-color: rgb(236, 236, 245);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav ul{
  display: flex;
}

nav ul li{
 border-left: 1px solid black;
}

nav .icon{
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
}

.plane{
  background-image: url('../iconos/avion.svg');
}

.bed{
  background-image: url('../iconos/cama-de-matrimonio.svg');
}

.ticket{
  background-image: url('../iconos/entradas.svg');
}

.beach{
  background-image: url('../iconos/sombrilla.svg');
}

.forkpoon{
  background-image: url('../iconos/restaurante.svg');
}