
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
 font-family: 'Quicksand', sans-serif;;
}


.sale-cont {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-top: 20px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: royalblue;
  margin-top: 20px;
  min-width: 320px;
  margin-bottom: 5px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.sale-cont section {
  width: 70%;
  min-width: 235px;
  max-width: 500px;  
  margin: 0 auto;
  background-color: papayawhip;
  scroll-snap-align: center;
}

.sale-cont  p {
  text-align: justify;
  padding: 10px;
}

.image-cards {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 2px;
}

.buy{
  width: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(196, 185, 185);
  margin-bottom: 20px;
  padding: 8px;
}



::-webkit-scrollbar {
  display: none;
}


